/target

# Ignore environments
.env
.env.*
!.env.example

# Cargo files
**/*.rs.bk

# OS files
.DS_Store
Thumbs.db

# DB
data/
*.sqlite
*.sqlite-journal

# Local Documents
*.xls
ROADMAP_*.md
TDR_*.md

# Tests & Scripts de données
generate_csv.py
test_csv_streaming.sh
test_izy.sh
test_mvp.sh
benchmark.sh
